body {
    font-family: tahoma;
    background-color: rgba(218, 228, 240, 0.58);
    margin: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #bdd1d0 2px solid;
    margin: 10px;
    width: 40%;
    padding: 10px;
    border-radius: 30px;
}

.product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
}

.fade-enter-active, .fade-leave-active {
    transition: all .7s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateX(0);
}

.fade-move {
    transition: transform .7s cubic-bezier(0.4, 0, 0.2, 1);
}
.fade-enter-from-left {
    transform: translateX(-100%);
}

.fade-leave-to-right {
    transform: translateX(100%);
}
.row {
    display: flex;
    gap:10px;
}

.card {
    border-radius: 20px;
    width:70%;
    height: fit-content;
    padding: 20px;
    background-color: #c4daeb;
    margin: 20px;
}

.edit {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    margin-top: 30px;
    border: none;
    background-color: #99b7cd;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 14px;
    border-radius: 15px;
}

form {

}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}
